<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
</head>
<body>

<div class="w3-container">

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Votre payement fait avec succées. <img width="60px" height="50px" src="https://www.clipartbay.com/cliparts/happy-smile-cartoon-u5w1x2i.gif"/></h2>
        </header>

        </div>
    </div>
    </div>
<app-navbar></app-navbar>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <marquee><h2 class="logo">Offre special remise 30%</h2></marquee>
            </div>
        
        </div> 

        
<br>
        <div class="content" >
            <h1>Bienvenue  chez <span>3almni</span></h1>
            <p class="par">
                Notre application <span style="font-size: 20px;">3almni</span> pour découvrire le monde de lecture.<br>
                 3almni a vous services 24/24h.

            </p>

                
                <div class="form">
                    <h2>payement en ligne</h2>
                     <input type="email" name="email" placeholder="Nom">
                     <input type="email" name="email" placeholder="E-mail">
                     <input type="email" name="num carte" placeholder="Numero de votre carte">
                     <input type="password" name="" placeholder="Code">
                    <button class="btnn" onclick="document.getElementById('id01').style.display='block'">confirmer</button>

                   

                </div>
                    </div>
                </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>