<div class="navbar">
    <div class="icon">
        <h2 class="logo">3almni</h2>
    </div>

    <div class="menu">
        <ul>
           
            <li><a routerLink="/article">Afficher les articles</a></li>
            <li><a routerLink="/">Déconnexion</a></li>
            
        </ul>
    </div>

    <div class="search">
        <input class="srch" type="search" name="" placeholder="Type To text">
        <a routerLink="#"> <button class="btn">Recherche</button></a>

    </div>


</div> 
