<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<app-navbar></app-navbar>
<h2>Livres</h2>
<div class="main">
  <table style="width: 100%; height: 100%; ">
    <tr>
      <td>  <div class="card">
        <img class="imgs" src="https://ec56229aec51f1baff1d-185c3068e22352c56024573e929788ff.ssl.cf1.rackcdn.com/attachments/large/9/9/1/001057991.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          
          <b>80dt</b>  &nbsp;&nbsp;  
          <samp style="text-align: right;">
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
           
          </samp>
          <button class="btnn" routerLink="/payement">Payement</button>
          <br>
          <h4><b> <span>Mahmoud Derwich</span></b></h4> 
          <p>
            La terre nous est étroite et autres poèmes. Mahmoud Darwich. ...
            Anthologie (1992-2005) Mahmoud Darwich. ...
            La Palestine comme métaphore. ...
            Plus rares sont les roses. ...
            Palestine mon pays : l'affaire du poème. ...
            Rien qu'une autre année : anthologie poetique 1966-1982. ...
            Au dernier soir sur cette terre. ...
            Présente absence. </p> 
        </div>
        
      </div>
    </td>




    <td> 
      <div class="card">
        <img class="imgs" src="https://cdn.kobo.com/book-images/e23f657a-4d9d-462b-83dd-17c257407d11/1200/1200/False/romeo-and-juliet-by-william-shakespeare.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <b>30dt</b>  &nbsp;&nbsp;  
          <samp style="text-align: right;">
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
           
          </samp>
          <button class="btnn" routerLink="/payement">Payement</button>

          <br>
          
          <h4><b>Wiliam Shakseare</b></h4> 
          <p>c'est un histoire remontique </p> 
        </div>
      </div>
  </td>
  <td>
    <div class="card">
      <img class="imgs" src="https://librairielacolline.ma/2976-home_default/-.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <b>80dt</b>  &nbsp;&nbsp;  
        <samp style="text-align: right;">
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
         
        </samp>
        <button class="btnn" routerLink="/payement">Payement</button>

        <br>
        <h4><b>Adhem chargawi</b></h4> 
        <p>Un roman pour rassurer mon cœur par Adham Sharqawi est une application Android qui contient un livre important .</p> 
      </div>
    </div>
  
  </td>
  
  <div class="card">
    <img class="imgs" src="https://media.senscritique.com/media/000020245094/0/les_miserables.jpg" alt="Avatar" style="width:100%">
    
    <div class="container">
      <b>100dt</b>  &nbsp;&nbsp;  
      <samp style="text-align: right;">
      <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
      <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
      <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
      <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
      <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
       
      </samp>
      <button class="btnn" routerLink="/payement">Payement</button>

      <br>
      <h4><b><span>Victor Hugo</span></b></h4> 
      <p>Roman épique, Les Misérables dépeint au moins trois grandes fresques : la bataille de Waterloo (qui représente pour l'auteur la fin de l'épopée napoléonienne et le début de l'ère bourgeoise ; il s'aperçoit alors qu'il est républicain), l'émeute de Paris en juin 1832, la traversée des égouts de Paris par Jean Valjean. </p> 
    </div>
  </div>  



  <td>
  
    <div class="card">
      <img class="imgs" src="https://www.librinova.com/librinova/img/maquette/Livre_couverture_01.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <b>50dt</b>  &nbsp;&nbsp;  
        <samp style="text-align: right;">
         <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
        <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
         
        </samp>
        <button class="btnn" routerLink="/payement">Payement</button>

        <br>
        <h4><b>Patrick Schneckenburger</b></h4> 
        <p>Un roman fantastique où se côtoient l'intime et l'occulte ; où le destin d'innocents est la proie d'un passé meurtri à la recherche de réponses.</p> 
      </div>
    </div>
    
  </td>  
  </tr>
  
  <tr><td></td></tr>
  <tr><td></td></tr>

  <tr>
    <td>
      
      <div class="card">
        <img class="imgs" src="https://cdn1.booknode.com/book_cover/4976/mod11/le_noir_te_va_si_bien-4976226-264-432.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <b>70dt</b>  &nbsp;&nbsp;  
          <samp style="text-align: right;">
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
          <img width="20px" height="20px" src="https://img.freepik.com/vecteurs-premium/vecteur-icone-etoile-classement-classique-isole-conception-preferee-plat-mode-application-mobile-pictogramme-site-web-etoile-illustration-logo-eps10_549897-719.jpg"/>
           
          </samp>
          <button class="btnn" routerLink="/payement">Payement</button>

          <br>
          <h4><b>Ahlem Mestghanmi</b></h4> 
          <p>Parler des livres de  l’ecrivain Algerienne ,Ahlem Moustaghenmi sans dire qu’elle est la femme écrivain la plus lue dans le monde arabe serait un manquement aux règles élémentaires de la politesse .</p> 
        </div>
      </div> 

  </td>
  <td>
    

</td>
<td>

</td>  
<td>
  
</td>  
</tr>
</table>
 


</div>


       
</body>
</html> 
