<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mini project</title>
</head>
<body>

  <router-outlet></router-outlet>


  <!--  <app-register></app-register>-->
<!--
  <div>
  <a routerLink="/">Login</a>
  <a routerLink="/register">Register</a>
  <a routerLink="/article">Article</a>
</div>

    <p>app root page</p>
  Login <input name="" type="text" ><br>
  Mdp   <input name="" type="password" ><br>
  <input type="submit" value="connexion"-->
</body>
</html>