
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>

</head>
<body>

    <div class="w3-container">

        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal"> 
              <span onclick="document.getElementById('id01').style.display='none'" 
              class="w3-button w3-display-topright">&times;</span>
              <h2>Bienvenue chez le monde de lecture <img width="60px" height="50px" src="https://www.clipartbay.com/cliparts/happy-smile-cartoon-u5w1x2i.gif"/></h2>
            </header>
            <div class="w3-container" style="text-align: center; margin-top: 20px;">
              <p>Votre inscription sur ma apllication 3almni faits avec succée </p>
              <p>Bienvenue chez nous.</p>
            </div>
            <footer style="height: 100px;text-align: center;">
                <button class="btnn"><a href="#">connecter</a></button>
                &nbsp;
                <button onclick="document.getElementById('id01').style.display='none'" class="btnn">Annuler</button>
                <br>
            </footer>

          </div>
        </div>
      </div>
                
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <marquee><h2 class="logo">3almni</h2></marquee>
            </div>
        
        </div> 
        
<br>
        <div class="content">
            <p class="par">    </p>             
                
            <span>Les intérêts de la lecture</span><br>
              La lecture permet de se divertir et de se faire plaisir. ...<br>
              La lecture permet de développer la mémoire et les capacités cognitives. ...<br>
              La lecture améliore la concentration et l'attention. ...<br>
              La lecture améliore votre expression orale et écrite. ...<br>
              La lecture accroît vos connaissances.
            <p></p>
                <button class="cn"><a href="#">Authentifier</a></button>

                <div class="form">
                    <h2>Inscrit vous</h2>
                    <input type="text" name="Nom"  placeholder="Nom" >
                    <input type="text" name="Prenom" placeholder="Prenom">
                    <input type="text" name="Adresse"  placeholder="Adresse" >
                    <input type="text" name="E_mail"  placeholder="E_mail" >
                    <input type="number" name="numero de telephone" placeholder="numero de telephone">
<!--                   <button class="btnn"><a href="#">inscription</a></button>--> 
                    <button   class="btnn" onclick="document.getElementById('id01').style.display='block'" >inscription</button>

                  

                   

                </div>
                    </div>
                </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>